.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.4) 65%,rgba(0,0,0,0) 100%);

  h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 100;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

    .icon {
      display: inline-block;
      height: 1em;
      margin-right: 5px;
      vertical-align: baseline;
      fill: #6CB716;
    }
    strong {
      font-weight: 300;
    }
  }
  a {
    color: #fff;
  }

  .auth--twitter {
    i {
      color: #50ABF1;
    }
  }
}
