html, body {
  .fill-height;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 87%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
#root {
  .fill-height;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #ddd;
  &:hover {
    color: #fff;
  }
}